In [5]:
import pandas as pd
file = pd.read_csv('data_Top_titles_For_All_Industry_Updated_100k.csv', names=['Title', 'Counts'])

In [6]:
file

                 Title  Counts
0                  NaN    1837
1                    `      95
2                    ~     400
3                   ~~      44
4                    =      91
5                    >      48
6                    |      64
7                    _    1870
8                   __     365
9                  ___     206
10                ____      90
11               _____      63
12              ______      39
13           ¯\_(ツ)_/¯      44
14                   -    8622
15                 - -     179
16                  --    1439
17                 ---     770
18                ----     918
19               -----     546
20              ------     362
21             -------     234
22            --------     204
23           ---------     149
24          ----------     113
25         -----------     100
26        ------------      90
27       -------------      67
28      --------------      54
29     ---------------      56
...                ...     ...
99970             行政書士      40
99971               製薬      50
99972               記者      52
99973             証券会社      40
99974               課長     800
99975             課長代理     156
99976             課長補佐      57
99977               講師     282
99978              販売員      36
99979               貿易      42
99980               農業      41
99981             近畿大学      39
99982       運輸 （陸送、鉄道）      45
99983               部長     881
99984             部長代理      58
99985           金融サービス      89
99986               銀行     114
99987               院長     559
99988          電気・電子製品     156
99989              非公開      62
99990            非営利団体      55
99991            非常勤講師     168
99992              音楽家      41
99993            音楽・音響      61
99994            順天堂大学      35
99995               顧問     167
99996           食品メーカー      37
99997          食品 & 飲料      49
99998         飲食・レストラン     151
99999             高等教育      58

[100000 rows x 2 columns]

In [15]:
file_sorted = file.sort_values(by = 'Counts', ascending=False)
top100_titles = file_sorted[:100]
top200_titles = file_sorted[:200]

In [16]:
from IPython.display import display, HTML

display(HTML(top200_titles.to_html()))

In [17]:
top200_titles.shape

(200, 2)

In [19]:
top200_titles.to_csv('top200.csv', index=None, header=True)